@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "roboto", sans-serif;
  background-color: black;
}

#map {
  background-color: #bfe6ff;
  flex-grow: 1;
}

#mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#lowerRightGroup {
  bottom: 5px;
  right: 5px;
  position: absolute;
  display: none;
}

#crosshairContainer {
  width: 100%;
  height: calc(100% - 38px);
  display: flex;
  pointer-events: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

#crosshair {
  display: none;
  opacity: 0.5;
  z-index: 10;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#infoGroup {
  backdrop-filter: blur(5px);
  background-color: rgba(251, 251, 251, 0.6);
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
  color: rgb(32, 32, 32);
  font-family: "B612";
  font-size: 1.1em;
  letter-spacing: 1.3px;
  line-height: 1.4;
  max-width: 90%;
  max-height: calc(100% - 20px);
  padding: 5px;
  position: absolute;
  right: 5px;
  margin-top: 5px;
  word-wrap: break-word;
  z-index: 10;
  overflow: overlay;
}

#infoGroup:has(#trackLength:empty):has(#currentLoadedName:empty) {
  display: none;
}

#menuContainer {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
}

#menuDivContent>div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bold {
  font-weight: bold;
}

.public {
  color: green;
}

.user-select-all {
  max-width: 400px;
  /* line-break: anywhere; */
  padding: 15px 0px 15px 0px;
  overflow: hidden;
  /* display: -webkit-box; */
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-decoration: underline;
  color: #e91e63;
  user-select: all;
}

#qrRoutePlanner {
  width: -webkit-fill-available;
}

.textBox:has(#menuDivContent:empty) {
  display: none;
}

.alignRight {
  margin-left: auto;
  margin-bottom: 5px;
}

.form-check-input[type=checkbox] {
  margin: 0px;
}

.invisible {
  display: none;
}

.sticky {
  position: sticky;
  bottom: 0;
}

.form-select {
  background-color: #fff;
  border-radius: 5px;
  color: #4f4f4f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: .375rem 2.25rem .375rem .75rem;
  margin-top: 3px;
}

.form-control {
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid #bdbdbd;
  color: #4f4f4f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 4.5px 12px 3.68px;
}

kbd {
  background-color: #4f4f4f;
  border-radius: .25rem;
  color: #fff;
  font-size: .875em;
  padding: .1875rem .375rem;
}

.btn {
  border-radius: 5px;
  border-width: 0;
  color: white;
  cursor: pointer;
  flex: 1;
  font-family: "roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  padding: .75rem 1.5rem .75rem 1.5rem;
  text-transform: uppercase;
  /* max-width: fit-content; */
}

.btn-lg {
  padding: 1.5rem 1rem;
  /* font-size: 1.1rem; */
  /* line-height: 1.5; */
  border-radius: .3rem;
}

.btn-danger {
  background-color: #dc4c64;
}

.btn-primary {
  background-color: #3b71ca;
}

.btn-info {
  background-color: #54b4d3;
}

.btn-success {
  background-color: #14a44d;
}

.btn-warning {
  background-color: #e4a11b;
}

.textBox {
  position: absolute;
  background-color: white;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  min-width: 5rem;
  color: rgb(32, 32, 32);
  border-radius: 5px;
  box-shadow: 0px 0px 10px;
  z-index: 10;
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow: overlay;
  pointer-events: auto;
}

/* contextmenu */
#contextPopup {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: rgb(32, 32, 32);
}

#contextPopupContent:empty {
  display: none;
}

#contextPopupCloser {
  font-size: larger;
  position: absolute;
  top: 2px;
  right: 7px;
  cursor: pointer;
}

.routeControl {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.routeControl:hover {
  background-color: lightgray;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
/* .navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 25px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, */
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 15;
  border-radius: 5px;
}

/* Links and buttons inside the dropdown */
/* .dropdown-content a, */
.dropdown-content .dropdownItem {
  float: none;
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
/* .dropdown-content a:hover, */
.dropdown-content .dropdownItem:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


@media (max-width: 650px) {
  .dropdown .dropbtn {
    padding: 10px 10px;
  }
}

@media (-moz-touch-enabled: 1),
(pointer:coarse),
(hover: none) {
  #crosshair {
    display: unset;
  }

  #lowerRightGroup {
    display: inline;
  }

}