@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
  font-family: "roboto", sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#lowerLeftGroup {
  bottom: 5px;
  left: 5px;
  position: absolute;
}

#infoGroup {
  backdrop-filter: blur(5px);
  background-color: rgba(251, 251, 251, 0.6);
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
  color: rgb(32, 32, 32);
  font-family: "B612";
  font-size: 1.1em;
  letter-spacing: 1.3px;
  line-height: 1.4;
  max-width: 90%;
  /* padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px; */
  max-height: calc(100% - 20px);
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  word-wrap: break-word;
  z-index: 10;
  overflow: overlay;
}

#infoGroup:has(#trackLength:empty) {
  display: none;
}

#menuContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuDivContent > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#gpxFileName {
  min-width: 15rem;
}

.textBox:has(#menuDivContent:empty) {
  display: none;
}

.alignRight {
  margin-left: auto;
}

.form-check-input[type=checkbox] {
  margin: 0px;
}

.invisible {
  display: none;
}

.form-select {
  background-color: #fff;
  border-radius: 5px;
  color: #4f4f4f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: .375rem 2.25rem .375rem .75rem;
}

.form-control {
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid #bdbdbd;
  color: #4f4f4f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 4.5px 12px 3.68px;
}

kbd {
  background-color: #4f4f4f;
  border-radius: .25rem;
  color: #fff;
  font-size: .875em;
  padding: .1875rem .375rem;
}

.btn {
  border-radius: 5px;
  border-width: 0;
  color: white;
  cursor: pointer;
  flex: 1;
  font-family: "roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  padding: .75rem 1.5rem .75rem 1.5rem;
  text-transform: uppercase;
  max-width: fit-content;
}

.btn:active {
  transform: translateY(2px);
}

.btn:hover {
  filter: brightness(0.9);
  transition: 0.2s;
}

.btn-danger {
  background-color: #dc4c64;
}

.btn-primary {
  background-color: #3b71ca;
}

.btn-info {
  background-color: #54b4d3;
}

.btn-success {
  background-color: #14a44d;
}

.btn-warning {
  background-color: #e4a11b;
}

.textBox {
  position: absolute;
  background-color: white;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  min-width: 5rem;
  color: rgb(32, 32, 32);
  border-radius: 5px;
  box-shadow: 0px 0px 10px;
  color: rgb(32, 32, 32);
  z-index: 10;
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow: overlay;
}

.buttonGroup {
  gap: 5px;
  flex-direction: column;
  display: flex;
}

/* contextmenu */
#contextPopup {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px;
  color: rgb(32, 32, 32);
}

#contextPopupContent {
  font-weight: bold;
}

#contextPopupContent:empty {
  display: none;
}

#contextPopupCloser {
  font-size: larger;
  position: absolute;
  top: 2px;
  right: 7px;
  cursor: pointer;
}

.routeControl {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.routeControl:hover {
  background-color: lightgray;
}